<form id="post_form">
    <h2>Create a new post</h2>
    <input type="text" name="title" placeholder="Title">
    <input type="file" id="image_input" name="image" accept="image/*">
    <textarea name="content" placeholder="Content" rows="4"></textarea>
    <input id="submit_button" type="submit" value="Create Post">
</form>

<h1>Gallery of Found Art</h1>
<form id="search_form">
    <label>Search posts</label>
    <input type="text" name="search" placeholder="Search">
    <input type="submit" value="Search">
    
</form>
<div id="posts">
{{#each posts}}
    <div class="post" id="{{this._id}}">
        <h2>{{this.title}}</h2>
        <p>{{this.content}}</p>
        {{#if this.imageUrl}}
            <img src="{{this.imageUrl}}" alt="Post image" />
        {{/if}}
        {{#each this.authors}}
            <p>By @{{this.username}}</p>
        {{/each}}
        
        <h3>Comments</h3>
        {{#each this.comments}}
            <div class="comment">
                <p>{{this.content}}</p>
                {{#each this.authors}}
                    <p>By @{{this.username}}</p>
                {{/each}}
            </div>
        {{/each}}
        
            <input type="text" name="content" placeholder="Comment">
            <input type="submit" value="Add">
        </form>
        
    </div>
{{/each}}
</div>
